@import "./styles/event-detail.css";

.App {
  display: flex;
  /*justify-content: center;*/
  align-items: center;
  flex-direction: column;
  height: 100vh;
  padding-top: 3rem;

}

.App .search-box{
  margin: 1rem auto;
}

.search-box input{
  height: 40px;
}

.search-box button{
  height: 46px;
  width: 46px;
}

.table-component.hoverable tbody tr{
  cursor: pointer;
}

.sort-button{
  background-color: transparent;
  margin-left: 1rem;
  border: 1px solid #3333;
}


